/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* Theme Toggle Buttons */


.round-button {
  height: 40px; /* Adjust height as needed */
  width: 100px; /* Adjust width as needed */
  border-radius: 0%; /* Make the button round */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/* Active theme style */
.round-button.activeTheme {
  border: 2px solid #1365DF; /* Adjust border color for active theme */
}

/* Additional styling for theme buttons */
.round-button {
  margin-right: 5px; /* Add some margin between buttons */
}


